<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />


<link rel="stylesheet" href="http://media.ka.178.com/static/css/common.css" type="text/css"/>
<link rel="stylesheet" href="http://www.178.com/s/i/pronav.css" type="text/css" />
<link rel="stylesheet" href="http://www.178.com/s/i/base.css" type="text/css" /> 
<link href="http://media.ka.178.com/static/css/pop-up-box.css" rel="stylesheet" type="text/css" />
{% block extra_css %}{% endblock %}

<script type="text/javascript" src="http://www.178.com/s/js/j.js"></script>
<script type="text/javascript" src="http://www.178.com/s/top_nav.js"></script>
<script type="text/javascript" src="http://media.ka.178.com/static/js/jShowWin.js"></script> 
<script type="text/javascript">
    var product_nav_box_width = 980;
    var product_post_width = 520;
</script>
<script type="text/javascript" src="http://www.178.com/s/scrollclass.js"></script>
<script type="text/javascript" src="http://www.178.com/s/pronav.js"></script> 
{% block extra_js %}{% endblock %}
<title>{% block title %}新手卡首页{% endblock %}</title>
<!--[if lte IE 6]>
<style>.fixie6png{behavior:url("http://media.ka.178.com/static/js/iepngfix.htc");}</style>
<script type="text/javascript" src="http://media.ka.178.com/static/js/iepngfix-tilebg.js"></script>
<![endif]-->
</head>
<body>
<div class="contenner">
{% load card_tags %}
{% block headnav %}
    {% headnav 1 request.session.username %}
{% endblock %}
<div class="clearfix"></div>
<!--content -->
<div class="content">
<!--main-->
<div class="main">
<div class="fixie6png pop-wrap" id='pop-up'><!--透明背景层 -->
</div><!--pop-wrap -->
{% block main %}{% endblock %}
</div><!--end main-->

{% sidebar username%}

{% block foot %}
<div class="clearfix"></div></div>
<!--end content -->
<!--footer-->
<div class="footer">
    <script src='http://www.178.com/s/footer.js'></script>
</div>
<!--end footer-->
{% endblock %}
</div><!-- end contenner-->
</body>
</html>
