<!--发卡box-->
<div class="cardbox mt10"><div class="innerbox">
    <div class="cardboxtop">
    <h1>测试码</h1>	
    <ul class="scrollUl">
    <li class="choice" id="m01"><a href="javascript:">热门游戏</a></li>
    <li class="nochoice" id="m08"><a href="javascript:">新游戏</a></li>
    <li class="nochoice" id="m02"><a href="javascript:">ABCD</a></li>
    <li class="nochoice" id="m03"><a href="javascript:">EFGH</a></li>
    <li class="nochoice" id="m04"><a href="javascript:">IJKL</a></li>
    <li class="nochoice" id="m05"><a href="javascript:">MNOP</a></li>
    <li class="nochoice" id="m06"><a href="javascript:">QRST</a></li>
    <li class="nochoice" id="m07"><a href="javascript:">WXYZ</a></li>
    </ul>
    <div class="clearfix"></div>
    </div>
    <div class="m10">

    <div id="c01"><table class="cardtable" width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
           <th width="20%">游戏名称</th>
           <th width="20%">测试码名称</th>
           <th>测试码简介</th>
           <th width="10%">领卡</th>
           <th width="10%">淘号</th>
         </tr>
    {% for c in b_hot %}
        <tr>
          <td>{{c.game.name}}</td>
          <td><a href="/card/activitydetail/{{c.id}}.html"  target="_blank" title="{{c.name}}">{{c.name}}</a></td>
          <td>{{c.descri|safe}}</td>
          <td><a onclick="javascript:get_popup('/card/get_card/{{c.item.id}}/');">领卡</a></td>
           <td><a onclick="javascript:get_popup('/card/get_chance/{{c.item.id}}/');">淘号</a></td>
        </tr>
    {% endfor %}
    </table></div>

    {% for tab_index,alpha,acts in b_alpha %}
        {% ifchanged tab_index%}
        {% ifnotequal tab_index 2%}
            </table></div>
        {% endifnotequal %}
        <div id="c0{{tab_index}}" class="hidden">
        <table class="cardtable" width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <th width="20%">游戏名称</th>
                  <th width="20%">测试码名称</th>
                  <th>测试码简介</th>
                  <th width="10%">领卡</th>
                  <th width="10%">淘号</th>
            </tr>
        {% endifchanged %}
      <tr>
          <td colspan="5"  class="itemtitle" >首字以{{alpha}}开头的游戏</td>
      </tr>
      {% for c in acts%}
         <tr>
           <td>{{c.game.name}}</td>
           <td><a href="/card/activitydetail/{{c.id}}.html"  target="_blank" title="{{c.name}}">{{c.name}}</a></td>
           <td>{{c.descri|safe}}</td>
           <td><a onclick="javascript:get_popup('/card/get_card/{{c.item.id}}/');">领卡</a></td>
            <td><a onclick="javascript:get_popup('/card/get_chance/{{c.item.id}}/');">淘号</a></td>
         </tr>
      {% endfor %}
    {% endfor %}
    </table>
    </div>

    <div id="c08" class="hidden"><table class="cardtable" width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <th width="20%">游戏名称</th>
              <th width="20%">测试码名称</th>
              <th>测试码简介</th>
              <th width="10%">领卡</th>
              <th width="10%">淘号</th>
        </tr>
    {% for c in b_new %}
        <tr>
          <td>{{c.game.name}}</td>
          <td><a href="/card/activitydetail/{{c.id}}.html"  target="_blank" title="{{c.name}}">{{c.name}}</a></td>
          <td>{{c.descri|safe}}</td>
          <td><a onclick="javascript:get_popup('/card/get_card/{{c.item.id}}/');">领卡</a></td>
           <td><a onclick="javascript:get_popup('/card/get_chance/{{c.item.id}}/');">淘号</a></td>
        </tr>
    {% endfor %}   
    </table></div>
    </div>
</div></div>


<div class="cardbox mt10"><div class="innerbox">
    <div class="cardboxtop">
    <h1>新手卡</h1>	
    <ul class="scrollUl">
    <li class="choice" id="m11"><a href="javascript:">热门游戏</a></li>
    <li class="nochoice" id="m18"><a href="javascript:">新游戏</a></li>
    <li class="nochoice" id="m12"><a href="javascript:">ABCD</a></li>
    <li class="nochoice" id="m13"><a href="javascript:">EFGH</a></li>
    <li class="nochoice" id="m14"><a href="javascript:">IJKL</a></li>
    <li class="nochoice" id="m15"><a href="javascript:">MNOP</a></li>
    <li class="nochoice" id="m16"><a href="javascript:">QRST</a></li>
    <li class="nochoice" id="m17"><a href="javascript:">WXYZ</a></li>

    </ul>
    <div class="clearfix"></div>
    </div>
    <div class="m10">

    <div id="c11"><table class="cardtable" width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
           <th width="20%">游戏名称</th>
           <th width="20%">新手卡名称</th>
           <th>新手卡简介</th>
           <th width="10%">领卡</th>
           <th width="10%">淘号</th>
         </tr>
      {% for c in a_hot %}
         <tr>
           <td>{{c.game.name}}</td>
           <td><a href="/card/activitydetail/{{c.id}}.html"  target="_blank" title="{{c.name}}">{{c.name}}</a></td>
           <td>{{c.descri|safe}}</td>
           <td><a onclick="javascript:get_popup('/card/get_card/{{c.item.id}}/');">领卡</a></td>
            <td><a onclick="javascript:get_popup('/card/get_chance/{{c.item.id}}/');">淘号</a></td>
         </tr>
      {% endfor %}
    </table></div>

    {% for tab_index,alpha,acts in a_alpha %}
        {% ifchanged tab_index%}
        {% ifnotequal tab_index 12%}
            </table></div>
        {% endifnotequal %}
        <div id="c{{tab_index}}" class="hidden">
        <table class="cardtable" width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <th width="20%">游戏名称</th>
                  <th width="20%">新手卡名称</th>
                  <th>新手卡简介</th>
                  <th width="10%">领卡</th>
                  <th width="10%">淘号</th>
            </tr>
        {% endifchanged %}
      <tr>
          <td colspan="5"  class="itemtitle" >首字以{{alpha}}开头的游戏</td>
      </tr>
      {% for c in acts%}
         <tr>
           <td>{{c.game.name}}</td>
           <td><a href="/card/activitydetail/{{c.id}}.html"  target="_blank" title="{{c.name}}">{{c.name}}</a></td>
           <td>{{c.descri|safe}}</td>
           <td><a onclick="javascript:get_popup('/card/get_card/{{c.item.id}}/');">领卡</a></td>
            <td><a onclick="javascript:get_popup('/card/get_chance/{{c.item.id}}/');">淘号</a></td>
         </tr>
      {% endfor %}
    {% endfor %}
    </table>
    </div>

    <div id="c18" class="hidden"><table class="cardtable" width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
           <th width="20%">游戏名称</th>
           <th width="20%">新手卡名称</th>
           <th>新手卡简介</th>
           <th width="10%">领卡</th>
           <th width="10%">淘号</th>
         </tr>
      {% for c in a_new %}
         <tr>
           <td>{{c.game.name}}</td>
           <td><a href="/card/activitydetail/{{c.id}}.html"  target="_blank" title="{{c.name}}">{{c.name}}</a></td>
           <td>{{c.descri|safe}}</td>
           <td><a onclick="javascript:get_popup('/card/get_card/{{c.item.id}}/');">领卡</a></td>
            <td><a onclick="javascript:get_popup('/card/get_chance/{{c.item.id}}/');">淘号</a></td>
         </tr>
      {% endfor %}
    </table></div>
    </div>
</div></div>
<!--end 发卡box-->