{% extends "card/i2.html" %}
{% load card_tags %}
{% block title %}发卡合作{% endblock %}
{% block headnav %}{% headnav 2 username %}{% endblock %}
{% block content %}
<form action="" method="post" id='copform'>
          <div class="card-form">
          		<div class="tip">178新手卡平台现面向所有厂商展开合作（具体合作形式可面议），请您按照以下格式填写真实、有效的申请信息，我们的工作人员将尽快与您联系。</div>
                <ul class="form-main">
                {% for field in f %}
                     <li>
                    	<div class="txt">{{field.label_tag}}：</div>
                        <div class="option">{{field}}
                           <font color="red">{{ field.errors }}</font>
			            <p>{{field.help_text}}</p>
                        </div>     
                    </li>
                {% endfor %}	
                </ul>
                <div class="form-btn"><input type="button"  value="确认提交" onclick="$('#copform').submit();"/></div>
          </div>
{% endblock %}
