<div class="contenner">
<!--top-->
<div class="topcontenner">
<div class="top">
<div class="advertisment"><img src="http://media.ka.178.com/static/images/ad.jpg"></div>
<a href="#" title="" class="logo"></a>
<div class="clearfix"></div>
<!--navigation-->
<div class="navigation mt10">
<div class="outbox"><ul class="innerbox">
<a href="#" title="使用帮助" class="fixie6png help rightfix mr10">使用帮助</a>
<li><a href="#" title="" class="current">发卡首页</a></li>
<span></span>
<li><a href="#" title="">发卡合作</a></li>
<span></span>
<li><a href="#" title="">有话要说</a></li>
<span></span>
<li><a href="#" title="">存卡箱</a></li>
</ul></div></div>
<!--end navigation-->
</div></div>
<!--end top-->