<!--top-->
<div class="topcontenner">
<div class="top">
<div class="advertisment"><img src="http://media.ka.178.com/static/images/ad.jpg"></div>
<a href="#" title="" class="logo"></a>
<div class="clearfix"></div>
<!--navigation-->
<div class="navigation mt10">
<div class="outbox"><ul class="innerbox">
<a href="#" title="使用帮助" class="fixie6png help rightfix mr10">使用帮助</a>
<li><a href="/card/" title="发卡首页" {% ifequal nav_index 1 %}class="current"{% endifequal %}>发卡首页</a></li>
<span></span>
<li><a href="/card/coperation/" title="发卡合作" {% ifequal nav_index 2 %}class="current"{% endifequal %}>发卡合作</a></li>
<span></span>
<li><a href="/card/suggest/" title="有话要说" {% ifequal nav_index 3 %}class="current"{% endifequal %}>有话要说</a></li>
<span></span>
<li><a href="/card/cardbox/" title="存卡箱" {% ifequal nav_index 4 %}class="current"{% endifequal %}>存卡箱</a></li>
</ul></div></div>
<!--end navigation-->
</div></div>
<!--end top-->
