{% extends "card/i2.html" %}
{% block title %}使用帮助{% endblock %}
{% block extra_meta %}{% endblock %}
{% block content %}
<div class="help-content">  		<p>178新手卡平台是178游戏网面向游戏用户全新推出的发卡平台，主要提供各类新手激活码、新手卡、道具卡、奖励卡、代金卡的免费发放。所有的游戏新手卡都有专门的发卡页面，配备游戏介绍、新手卡介绍、官网、激活、使用方法、客户端下载等完整周到的资料。注册玩家无需任何门槛，即可快速找到自己需要的新手卡，同时也可以方便地激活并下载游戏。
</p>
<h2>使用帮助：</h2>

<p><strong>提示：</strong>新用户请先注册并登录后，才可在178新手卡中心领取新手卡或激活码（淘号不受此限制）。</p>
<p><a href="#">点此注册</a> <a href="#">点此登录</a></p>

<dl>
<dt>领取须知：</dt>
<dd>第一步，找到您需要的新手卡或激活码（你可以利用“搜索”功能，或游戏名首字拼音缩写寻找您需要的卡）</dd>
<dd>第二步，点击领取按钮并输入验证码</dd>
<dd>第三步，获得卡号（您获得的卡号将保存在您的存卡箱）</dd>
</dl>
<dl>
<dt>领取规则：</dt>
<dd>1. 领取到的卡号请在2小时内使用，否则该卡将进入淘号库，可能会被其他用户再次领取。</dd>
<dd>2. 24小时内、同一ID用户只能领取同一物品一次。</dd>
</dl>
<p><strong>淘号须知：</strong>用户无需注册、登录即可淘号（点击淘号并输入验证码）。用户淘号得到的均为其他用户已经领取过、但在2小时内没有激活的卡。所以，有可能无法正常使用。淘号所得到卡，不会保存在您的存卡箱，请自行记录。</p>
</div><!--help-content -->
{% endblock %}
