{% extends "base.html"%}
{% block content%}
<!--main-->
<div class="main">


<!--cardbox-->
<div class="cardbox mt10"><div class="innerbox p15">
	<ul class="cardbox-list">
		<li><span>游戏名称：</span> 热血江湖</li>
		<li><span>新手卡名：</span> <strong>新手大礼包</strong></li>
		<li><span>使用方法：</span> <p>热血江湖热血江湖热血江湖热血江湖热血江湖热血江湖热血江湖热血江湖热血江湖热血江湖热血江湖热血江湖热血江湖热血江湖</p></li>
		<li><span>新手卡奖励：</span> <p>热血江湖热血江湖热血江湖热血江湖热血江湖热血江湖热血江湖热血江湖热血江湖热血江湖热血江湖热血江湖热血江湖热血江湖</p></li>
		<li><span>注册地址：</span> <a href="#">http://www.178.com</a></li>
		<li><span>客户端下载：</span> <a href="#">http://www.178.com</a></li>
		<li><span>其他信息：</span> <p>官网地址：<a href="#">http://www.178.com</a><br />

			运营商：178<br />

			客服：<a href="#">http://www.178.com</a><br />

			点击查看：<a href="#">截图</a> | <a href="#">视频</a></p>
			
		</li>
	
	</ul>
	<div class="cardbox-btn">
		<a href=""><span>立即领取</span></a>
		<a href=""><span>淘一下</span></a>
		<a href=""><span>分享</span></a>
		<a href=""><span>返回首页</span></a>
	</div>

</div></div>
<!--end cardbox-->

</div><!--end main-->
{% endblock %}

