{% extends "card/base.html" %}
{% load card_tags %}
{% block title %}178新手卡_{{activity.game.name}}{{activity.item.name}}免费领取{% endblock %}

{% block extra_meta %}
<meta name="keywords" content="78新手卡_{{activity.game.name}}新手卡_{{activity.item.name}}_{{activity.game.name}}新手卡领取_{{activity.game.name}}注册_{{activity.game.name}}新手卡激活_{{activity.game.name}}下载__178游戏网" />
<meta name="description" content="178新手卡平台永久免费提供{{activity.game.name}}新手卡_{{activity.game.name}}内测号_{{activity.game.name}}激活码_{{activity.game.name}}{{activity.item.name}}，包括{{activity.game.name}}{{activity.item.name}}领取、{{activity.game.name}}{{activity.item.name}}激活" />
{% endblock %}

<div class="contenner">

{% block main %}
    <div class="cardbox mt10 min_height"><div class="innerbox p15">
        {% block content %}
            {{activity.info|safe}}
             
             <div class="cardbox-btn"> 
                	<a href="javascript:void(0);" onclick="javascript:get_popup('/card/get_card/{{activity.item.id}}/');"><span>立即领取</span></a> 
                	<a href="javascript:void(0);" onclick="javascript:get_popup('/card/get_chance/{{activity.item.id}}/');"><span>淘一下</span></a> 
                	<a href="/card/"><span>返回首页</span></a> 
            </div>
            {% if user_list %}
            <div class="cardbox mt10"><div class="innerbox p15">

                    <p>以下是领取过{{activity.item.name}}的玩家，您可以点击Ta的头像结交好友共享游戏乐趣，也可以通过站内短信方式询问Ta是否愿意将游戏账号共享给你共同体验</p>
        			<ul class="ulist">
        				<li>
        				    {% for username,uid,pic_mid in user_list %}
        					<div class="avatar50">
        						<a title="{{username}}" href="http://i.178.com/?uid={{uid}}">
        						<img width="50px" height="50px" _src="0" src="http://pic1.178.com/avatars/{{pic_mid}}/50_{{uid}}.jpg"></a>
        					</div>
        					<div class="uname ">
        						<a title="{{username}}" href="http://i.178.com/?uid={{uid}}">{{username}}</a>
        					</div>
        					<!--
        					<div class="utools">
        					    <a href="http://i.178.com/?uid={{uid}}" class="msg" title="发短信">发短信</a>
        					    <a href="http://i.178.com/?uid={{uid}}" class="add-friend" title="加为好友"></a>
        					</div>
        				        -->
        					{% endfor %}
        				</li>
        		</ul>
            </div></div>
            {% endif %}
        {% endblock %}
    </div></div>
{% endblock %}
