<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<link rel="stylesheet" href="http://119.145.138.41:8000/static/css/common.css" type="text/css"/>
<link rel="stylesheet" href="http://www.178.com/s/i/pronav.css" type="text/css" />
<link rel="stylesheet" href="http://www.178.com/s/i/base.css" type="text/css" />
<link href="http://119.145.138.41:8000/static/css/pop-up-box.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://www.178.com/s/js/j.js"></script>
<script type="text/javascript" src="http://119.145.138.41:8000/static/js/j.flashSlider.js"></script> 
<script src="http://gh.178.com/js/j.js"></script>
<script type="text/javascript" src="http://119.145.138.41:8000/static/js/jShowWin.js"></script>
<title>新手卡首页</title>
<!--[if lte IE 6]>
<style>.fixie6png{behavior:url("http://119.145.138.41:8000/static/js/iepngfix.htc");}</style>
<script type="text/javascript" src="http://119.145.138.41:8000/static/js/iepngfix-tilebg.js"></script>
<![endif]-->
</head>
<body>
<div class="contenner">
<!--全站导航开始 --> 
<script type="text/javascript" src="http://www.178.com/s/top_nav.js"></script> 
<!--全站导航结束-->
<!--产品导航开始 -->
<script>
var product_nav_box_width = 980,product_post_width = 520;
//var product_nav_box_width = 960,product_post_width = 500;
</script>
<script type="text/javascript" src="http://www.178.com/s/scrollclass.js"></script>
<script type="text/javascript" src="http://www.178.com/s/pronav.js"></script> 
<!--产品导航结束-->
<!--end header-->
<!--top-->
<div class="topcontenner">
<div class="top">
<div class="advertisment"><img src="http://119.145.138.41:8000/static/images/ad.jpg"></div>
<a href="#" title="" class="logo"></a>
<div class="clearfix"></div>
<!--navigation-->
<div class="navigation mt10">
<div class="outbox"><ul class="innerbox">
<a href="#" title="使用帮助" class="fixie6png help rightfix mr10">使用帮助</a>
<li><a href="#" title="" class="current">发卡首页</a></li>
<span></span>
<li><a href="#" title="">发卡合作</a></li>
<span></span>
<li><a href="#" title="">有话要说</a></li>
<span></span>
<li><a href="#" title="">存卡箱</a></li>
</ul></div></div>
<!--end navigation-->

</div></div>
<!--end top-->
<div class="clearfix"></div>
<!--content -->
<div class="content">
<!--main-->
<div class="main">

<!--searchbar-->
<div class="searchbar"><div class="innerbox">
<div class="search fixie6png">
<form action="" method="get">
  <input class="searchcontent" name="input" type="text" value="请输入您要搜索的内容…"   onblur="if(this.value==''){this.value=this.defaultValue;}"   onfocus="if(this.value==this.defaultValue){this.value='';}"/>
  <button class="searchbtn"></button>
</form>
</div>
{% include "card/keywords.html" %}
<div class="clearfix"></div></div></div>
<!--end searchbar-->

<!--news-->
<div class="news mt10">
<!--picnews-->
 <script type="text/javascript">
        $(document).ready(function() {
            $("#slider").flashSlider();
        });
		$.fn.flashSlider.defaults = {
        controlsShow: true, //是否显示数字导航
        vertical: false, //纵向还是横向滑动
        speed: 1000, //滑动速度
        auto: true, //是否自定滑动
        pause: 2000, //两次滑动暂停时间
        easing: "swing", //easing效果，默认swing，更多效果需要easing插件支持
        height:240, //容器高度，不设置自动获取图片高度
        width:350//容器宽度，不设置自动获取图片宽度
    }
</script>

<div class="picnews">
	<div class="innerbox" id="slider">
    	<ul >
    	    {% for pic in pictures%}
        	<li> <a href="{{pic.link_url}}" title="{{pic.title}}" target="_blank">
        	    <img src="http://119.145.138.41:8000/static/{{pic.img_url}}">
        	    </a>
            <span class="picnews_tit fixie6png">
                <p class="fixie6png"></p>
                <a href="{{pic.link_url}}" title="{{pic.title}}" class="newstit"  target="_blank">{{pic.title}}</a>
            </span>
            </li>
            {% endfor%}    	
        </ul>
</div><!--innerbox -->
</div><!--end picnews-->

<div class="fontnews">
<div class="newstit"><a href="#" title="" class="rightfix">更多></a>
发卡公告</div>
<ul>
{% for notice in notices %}
<li><span>{{notice.create_time.day}}日</span><a href="/card/activitydetail/{{notice.activity.id}}/" title="{{notice.title}}" target="_blank">{{notice.content|safe}}</a></li>
{% endfor %}
</ul>

<div class="newstit"><a href="#" title="" class="rightfix">更多></a>
发卡预告</div>
<ul>
    {% for anounce in anounces %}
    <li><span>{{anounce.create_time.day}}日</span>{{anounce.content|safe}}</li>
    {% endfor %}
</ul>
</div>
<div class="clearfix"></div></div>
<!--end news-->

<!--发卡box-->
<script type="text/javascript">
function scrollDoor(){
}
scrollDoor.prototype = {
	sd : function(menus,divs,openClass,closeClass){
		var _this = this;
		if(menus.length != divs.length)
		{
			alert("菜单层数量和内容层数量不一样!");
			return false;
		}				
		for(var i = 0 ; i < menus.length ; i++)
		{	
			_this.$(menus[i]).value = i;				
			_this.$(menus[i]).onmouseover = function(){
					
				for(var j = 0 ; j < menus.length ; j++)
				{						
					_this.$(menus[j]).className = closeClass;
					_this.$(divs[j]).style.display = "none";
				}
				_this.$(menus[this.value]).className = openClass;	
				_this.$(divs[this.value]).style.display = "block";				
			}
		}
		},
	$ : function(oid){
		if(typeof(oid) == "string")
		return document.getElementById(oid);
		return oid;
	}
}
window.onload = function(){
	var SDmodel = new scrollDoor();
	SDmodel.sd(["m01","m02","m03","m04","m05","m06","m07","m08"],["c01","c02","c03","c04","c05","c06","c07","c08"],"choice","nochoice");
    SDmodel.sd(["m11","m12","m13","m14","m15","m16","m17","m18"],["c11","c12","c13","c14","c15","c16","c17","c18"],"choice","nochoice");
}
</script>

<div class="cardbox mt10"><div class="innerbox">

<div class="cardboxtop">
<h1>测试码</h1>	
<ul class="scrollUl">
<li class="choice" id="m01"><a href="#">热门游戏</a></li>
<li class="nochoice" id="m08"><a href="#">新游戏</a></li>
<li class="nochoice" id="m02"><a href="#">ABCD</a></li>
<li class="nochoice" id="m03"><a href="#">EFGH</a></li>
<li class="nochoice" id="m04"><a href="#">IJKL</a></li>
<li class="nochoice" id="m05"><a href="#">MNOP</a></li>
<li class="nochoice" id="m06"><a href="#">QRST</a></li>
<li class="nochoice" id="m07"><a href="#">WXYZ</a></li>
</ul>
<div class="clearfix"></div>
</div>
<div class="m10">

<script language="javascript">
    function get_popup(url){
        $.get(url, function(data) {
         $("body").append(data);
        }); 
        //$("#popup").load(url);
    };
</script>
<div id='popup'></div>
<div id="c01"><table class="cardtable" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
       <th width="20%">游戏名称</th>
       <th width="20%">测试码名称</th>
       <th>测试码简介</th>
       <th width="10%">领卡</th>
       <th width="10%">淘号</th>
     </tr>
{% for c in b_hot %}
    <tr>
      <td><a href="/card/activitydetail/{{c.id}}/"  target="_blank" title="{{c.game.name}}">{{c.game.name}}</a></td>
      <td>{{c.item.name}}</td>
      <td>{{c.descri|safe}}<a href="/card/activitydetail/{{c.id}}/" target="_blank"></a></td>
      <td><a onclick="javascript:get_popup('/card/get_card/{{c.item.id}}/')">领卡</a></td>
       <td><a onclick="javascript:get_popup('/card/get_chance/{{c.item.id}}/')">淘号</a></td>
    </tr>
{% endfor %}
</table></div>

{% for tab_index,alpha,acts in b_alpha %}
    {% ifchanged tab_index%}
    {% ifnotequal tab_index 2%}
        </table></div>
    {% endifnotequal %}
    <div id="c0{{tab_index}}" class="hidden">
    <table class="cardtable" width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <th width="20%">游戏名称</th>
              <th width="20%">测试码名称</th>
              <th>测试码简介</th>
              <th width="10%">领卡</th>
              <th width="10%">淘号</th>
        </tr>
    {% endifchanged %}
  <tr>
      <td colspan="5"  class="itemtitle" >首字以{{alpha}}开头的游戏</td>
  </tr>
  {% for c in acts%}
     <tr>
         <td><a href="/card/activitydetail/{{c.id}}/"  target="_blank" title="{{c.game.name}}">{{c.game.name}}</a></td>
         <td>{{c.item.name}}</td>
         <td>{{c.descri|safe}}<a href="/card/activitydetail/{{c.id}}/"  target="_blank"></a></td>
         <td><a onclick="javascript:get_popup('/card/get_card/{{c.item.id}}/')">领卡</a></td>
         <td><a onclick="javascript:get_popup('/card/get_chance/{{c.item.id}}/')">淘号</a></td>
       </tr>
  {% endfor %}
{% endfor %}
</table>
</div>

<div id="c08" class="hidden"><table class="cardtable" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <th width="20%">游戏名称</th>
          <th width="20%">测试码名称</th>
          <th>测试码简介</th>
          <th width="10%">领卡</th>
          <th width="10%">淘号</th>
    </tr>
{% for c in b_new %}
     <tr>
         <td><a href="/card/activitydetail/{{c.id}}/"  target="_blank" title="{{c.game.name}}">{{c.game.name}}</a></td>
         <td>{{c.item.name}}</td>
         <td>{{c.descri|safe}}<a href="/card/activitydetail/{{c.id}}/"  target="_blank"></a></td>
         <td><a onclick="javascript:get_popup('/card/get_card/{{c.item.id}}/')">领卡</a></td>
         <td><a onclick="javascript:get_popup('/card/get_chance/{{c.item.id}}/')">淘号</a></td>
       </tr>
{% endfor %}   
</table></div>
</div>
</div></div>


<div class="cardbox mt10"><div class="innerbox">

<div class="cardboxtop">
<h1>新手卡</h1>	
<ul class="scrollUl">
<li class="choice" id="m11"><a href="#">热门游戏</a></li>
<li class="nochoice" id="m18"><a href="#">新游戏</a></li>
<li class="nochoice" id="m12"><a href="#">ABCD</a></li>
<li class="nochoice" id="m13"><a href="#">EFGH</a></li>
<li class="nochoice" id="m14"><a href="#">IJKL</a></li>
<li class="nochoice" id="m15"><a href="#">MNOP</a></li>
<li class="nochoice" id="m16"><a href="#">QRST</a></li>
<li class="nochoice" id="m17"><a href="#">WXYZ</a></li>

</ul>
<div class="clearfix"></div>
</div>
<div class="m10">

<div id="c11"><table class="cardtable" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
       <th width="20%">游戏名称</th>
       <th width="20%">新手卡名称</th>
       <th>新手卡简介</th>
       <th width="10%">领卡</th>
       <th width="10%">淘号</th>
     </tr>
  {% for c in a_hot %}
      <tr>
          <td><a href="/card/activitydetail/{{c.id}}/"  target="_blank" title="{{c.game.name}}">{{c.game.name}}</a></td>
          <td>{{c.item.name}}</td>
          <td>{{c.descri|safe}}<a href="/card/activitydetail/{{c.id}}/"  target="_blank"></a></td>
          <td><a onclick="javascript:get_popup('/card/get_card/{{c.item.id}}/')">领卡</a></td>
           <td><a onclick="javascript:get_popup('/card/get_chance/{{c.item.id}}/')">淘号</a></td>
        </tr>
  {% endfor %}
</table></div>

{% for tab_index,alpha,acts in a_alpha %}
    {% ifchanged tab_index%}
    {% ifnotequal tab_index 12%}
        </table></div>
    {% endifnotequal %}
    <div id="c{{tab_index}}" class="hidden">
    <table class="cardtable" width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <th width="20%">游戏名称</th>
              <th width="20%">新手卡名称</th>
              <th>新手卡简介</th>
              <th width="10%">领卡</th>
              <th width="10%">淘号</th>
        </tr>
    {% endifchanged %}
  <tr>
      <td colspan="5"  class="itemtitle" >首字以{{alpha}}开头的游戏</td>
  </tr>
  {% for c in acts%}
     <tr>
         <td><a href="/card/activitydetail/{{c.id}}/"  target="_blank" title="{{c.game.name}}">{{c.game.name}}</a></td>
         <td>{{c.item.name}}</td>
         <td>{{c.descri|safe}}<a href="/card/activitydetail/{{c.id}}/"  target="_blank"></a></td>
         <td><a onclick="javascript:get_popup('/card/get_card/{{c.item.id}}/')">领卡</a></td>
         <td><a onclick="javascript:get_popup('/card/get_chance/{{c.item.id}}/')">淘号</a></td>
       </tr>
  {% endfor %}
{% endfor %}
</table>
</div>

<div id="c18" class="hidden"><table class="cardtable" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
       <th width="20%">游戏名称</th>
       <th width="20%">新手卡名称</th>
       <th>新手卡简介</th>
       <th width="10%">领卡</th>
       <th width="10%">淘号</th>
     </tr>
  {% for c in a_new %}
     <tr>
         <td><a href="/card/activitydetail/{{c.id}}/"  target="_blank" title="{{c.game.name}}">{{c.game.name}}</a></td>
         <td>{{c.item.name}}</td>
         <td>{{c.descri|safe}}<a href="/card/activitydetail/{{c.id}}/"  target="_blank"></a></td>
         <td><a onclick="javascript:get_popup('/card/get_card/{{c.item.id}}/')">领卡</a></td>
         <td><a onclick="javascript:get_popup('/card/get_chance/{{c.item.id}}/')">淘号</a></td>
       </tr>
  {% endfor %}
</table></div>



</div>
</div></div>


<!--end 发卡box-->

</div><!--end main-->

{% include "card/side.html" %}

<div class="clearfix"></div></div>
<!--end content -->
<!--footer-->
<div class="footer"><script src='http://www.178.com/s/footer.js'></script></div>
<!--end footer-->
</div><!-- end contenner-->
</body>


</html>
