<!--news-->
<div class="news mt10">
    <!--picnews-->
    <div class="picnews">
       	<div class="innerbox" id="slider">
           	<ul >
           	    {% for pic in pictures%}
               	<li> <a href="{{pic.link_url}}" title="{{pic.title}}" target="_blank">
               	    <img src="http://media.ka.178.com/static/{{pic.img_url}}">
               	    </a>
                   <span class="picnews_tit fixie6png">
                       <p class="fixie6png"></p>
                       <a href="{{pic.link_url}}" title="{{pic.title}}" class="newstit"  target="_blank">{{pic.title}}</a>
                   </span>
                   </li>
                {% endfor%}    	
               </ul>
         </div><!--innerbox -->
    </div>
    <!--end picnews-->

    <div class="fontnews">
        <div class="newstit"><a href="#" title="" class="rightfix">更多></a>
            发卡公告</div>
            <ul>
                {% for notice in notices %}
                <li><span>{{notice.create_time.day}}日</span><a href="/card/activitydetail/{{notice.activity.id}}.html" title="{{notice.title}}" target="_blank">{{notice.content|safe}}</a></li>
                {% endfor %}
            </ul>

        <div class="newstit"><a href="#" title="" class="rightfix">更多></a>
            发卡预告</div>
            <ul>
                {% for anounce in anounces %}
                <li><span>{{anounce.create_time.day}}日</span>{{anounce.content|safe}}</li>
                {% endfor %}
            </ul>
    </div>
<div class="clearfix"></div></div>
<!--end news-->

