<!--side-->
<div class="side">
<!--sidecolumn-->
<div class="sidecolumn">
<div class="sidetitle"><h2>登录</h2><span></span><div class="clearfix"></div></div>
<div class="login-info">
	
			<p>michaelwangvm，欢迎您<br />
			<ul>
				<li><a href="#">我的个人页</a></li>
				<li><a href="#">进入论坛</a></li>
				<li><a href="#">退出</a></li>
			</ul>
		</div><!--login-info-->
</div>
<!--end sidecolumn-->

<!--sidecolumn-->
<div class="sidecolumn">
<div class="sidetitle"><h2>新游戏上线时间表</h2><span></span><div class="clearfix"></div></div>
<div class="cont">
<div class="sidenews"><a href="#" class="fontgreen rightfix">正在发放</a><span>[01.15]</span>埃及艳后</div>
<div class="sidenews"><a href="#" class="fonttan rightfix">论坛活动</a><span>[02.25]</span>传世群英传 </div>
<div class="sidenews"><a href="#" class="fonttan rightfix">截图活动</a><span>[02.28]</span>超级西西三国</div>
<div class="sidenews"><a href="#" class="fontgreen rightfix">正在发放</a><span>[03.08]</span>传奇外传 </div>
<div class="sidenews"><font class="rightfix">暂无</font><span>[04.15]</span>成吉思汗 </div>
<div class="sidenews"><a href="#" class="fontgreen rightfix">正在发放</a><span>[03.08]</span>传奇外传 </div>
<div class="sidenews"><a href="#" class="fontgreen rightfix">正在发放</a><span>[04.15]</span>成吉思汗 </div>

</div>
</div>
<!--end sidecolumn-->


</div>
<!--end side-->