{% extends "card/i2.html" %}
{% load card_tags %}
{% block title %}存卡箱{% endblock %}
{% block headnav %}{% headnav 4 request.session.username %}{% endblock %}
{% block content %}
            
            {% if cards %}
                {% for item_name,item_id,object_id,timestamp in cards %}
                <div class="card-info">
            	<span>{{timestamp}} </span>
                <span class="info-content"> 领取<a href="javascript:get_popup('/card/itemdetail/{{object_id}}/{{item_id}}/')">{{item_name}}</a></span>
                <span class="info-btn"><a href="javascript:get_popup('/card/itemdetail/{{object_id}}/{{item_id}}/');"><strong>物品详情</strong></a><a href="/card/cardbox/{{object_id}}/{{item_id}}/delete/"><strong>删除</strong></a></span>
                </div>
                {% endfor %}
            {% else %}
                您的存卡箱里没有任何物品！
            {% endif %}
            <!--
            <div class="pages">
            	共12页，1/12
                <a href="#">&lt;&lt;</a>
                <a href="#">&lt;</a>
                <a href="#" class="current">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                ...
              
                <a href="#">&gt;</a>
                <a href="#">&gt;&gt;</a>
            </div>
            -->
{% endblock %}            


