{% extends "card/popups/base.html" %}
{% block title %} 淘号成功 {% endblock %}
{% block content %} 
	<div class="win-details">
		<div class="details-pic"><img src='http://media.ka.178.com/static/{{item.pic}}' alt='item image'/></div>
		<ul>
			<li>恭喜您淘到：<strong class="ff0000">{{item.name}}</strong 
			<li>卡号：{{card_ids}}</li>
			<li><p class="ff0000">目前系统无法保存您的淘号记录，请您自行记录并妥善保存。</p></li>
			<li><a href="#" class="ff0000">【激活游戏】</a> <a href="#" class="ff0000">【注册游戏】</a> <a href="#" class="ff0000">【下载游戏】</a></li>
		</ul>
	</div>
{% endblock %}
{% block submit %} 
<a href="#" ><span >有用</span></a>
<a href="#" ><span >没用，再淘一下</span></a>
<a href="#" class="WinClose" ><span >关闭</span></a>
{% endblock %}
