{% extends "card/popups/base.html" %}
{% block title %} 淘号成功 {% endblock %}
{% block content %} 
	<div class="win-details">
		<div class="details-pic"><img src='http://media.ka.178.com/static/{{item.pic}}' alt='item image'/></div>
		<ul>
			<li>恭喜您淘到：<strong class="ff0000">{{item.name}}</strong 
			<li>
			    {% for on in cards %}
			    卡号：<span class="ff0000">{{one.card_id}}</span>{% if one.password %}&nbsp;密码：<span class="ff0000">{{one.password}}</span>{% endif %}
			    {% endfor%}
			</li>
			<li><p class="ff0000">目前系统无法保存您的淘号记录，请您自行记录并妥善保存。</p></li>
			<li>{{item.info|safe}}</li>
		</ul>
	</div>
{% endblock %}
{% block submit %} 
<a href="#" class="WinClose"><span >有用</span></a>
<a href="#" onclick='/card/get_chance/{{item.id}}/'><span >没用，再淘一下</span></a>
<a href="#" class="WinClose" ><span >关闭</span></a>
{% endblock %}
