{% extends "card/popups/base.html" %}
{% block title %} 淘号须知 {% endblock %}
{% block content %} 
	<div class="win-notes">
			<div class="notes-txt">
				<span class="win-icon win-icon-a"></span>
				<p><span><strong>欢迎来到淘号区！</strong></span><br />

淘号区均为他人已经领取过，且没有马上使用的物品，所以有可能无法使用。如遇到可用的物品，建议您立刻使用，防止被他人再次淘走。<br />

<span class="ff0000">目前系统无法保存您的淘号记录，请您自行记录并妥善保存。</span></p>
			</div>
			<div class="notes-code">
        		<strong>验证码：</strong> <input name='checkcode' type='text' id='checkcode_input' />

        		<script language='javascript'>
                        function get_checkcode(){
        			$('#checkcode')[0].setAttribute('src','/card/get_check_code_image/?nocache='+Math.random());
                        }
        		</script>	
        		<img id='checkcode' src="/card/get_check_code_image/" alt="CheckCode"/>  
        	    <a href="javascript:get_checkcode();" class="blue">看不清，换一张</a>
 			<span class="code-tip ff0000">{{error}}</span>
        	</div>
				
	</div>
{% endblock %}
{% block submit %} 
	<a href="javascript:post_popup('/card/get_chance/{{item_id}}/',$('#checkcode_input').val());"><span>淘一下</span></a>
	<a href="javascript:" class="WinClose"><span>关闭</span></a>
{% endblock %}
