<script language='javascript'>
    function get_checkcode(){
         url = '/card/get_check_code_image/?nocache='+Math.random(); 
         $('#checkcode')[0].setAttribute('src',url);
    }
</script>
<strong>验证码：</strong> <input name='checkcode' value='点击获取验证码' type='text' id='checkcode_input' onblur="if(this.value==''){this.value=this.defaultValue;}"   onfocus="if(this.value==this.defaultValue){this.value='';get_checkcode();}"/>
<img id='checkcode' src='http://media.ka.178.com/static/images/checkcode.gif' alt='CheckCode'/>
<span class="code-tip ff0000">{{error}}</span>
 
        
