{% extends "card/popups/base.html" %}
{% block title %} 领卡失败 {% endblock %}
{% block content %} 
<div class="win-notes">
	<div class="notes-txt">
		<span class="win-icon win-icon-b"></span>
		<p>对不起，单款游戏、单个ID每24小时只可领取一次。<br />

            建议您选择“<span class="ff0000">淘号</span>”试试运气！
        </p>
	</div>
</div>
{% endblock %}
{% block submit %} 
<a href="javascript:get_popup('/card/get_chance/{{item_id}}/')"><span>淘号</span></a>
<a href="javascript:" class="fixie6png WinClose"><span >关闭</span></a>
{% endblock %}