<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>弹出框</title>
<link href="../css/pop-up-box.css" rel="stylesheet" type="text/css" />
</head>
<script src="http://gh.178.com/js/j.js"></script>
<script type="text/javascript" src="../js/jShowWin.js"></script>
<!--[if lte IE 6]>
<style>.fixie6png{behavior:url("../js/iepngfix.htc");}</style>
<script type="text/javascript" src="../js/iepngfix-tilebg.js"></script>
<![endif]-->
<body>
<a href="javascript:" id="ShowWin">显示浮动窗口</a> 
<div class="pop-up-win">   
        <div class="win-title">
			<div class="win-title-l">
				<div class="win-title-r">
					<div class="win-title-m">
						<a href="javascript:" class="fixie6png WinClose">关闭</a>
						<h1>失败</h1>
					</div><!-- win-title-m-->
				</div><!-- win-title-r-->
			</div><!--win-title-l -->
			
		</div>  <!-- win-title--> 
        <div class="win-content">
			<div class="win-border">
				<div class="win-bg">
					
					<div class="win-notes">
						<div class="notes-txt">
							<span class="win-icon win-icon-b"></span>
							<p>对不起，单款游戏、单个ID每24小时只可领取一次。<br />

建议您选择“<span class="ff0000">淘号</span>”试试运气！</p>
						</div>
						
						
					
					</div>

				</div><!--win-bg -->
			</div><!--win-border -->
		</div><!--win-content -->
		 <div class="win-footer">
			<div class="win-footer-l">
				<div class="win-footer-r">
					<div class="win-footer-m">
							<a href="#" class=""><span >淘号</span></a>
							<a href="#" class="WinClose"><span>关闭</span></a>
					</div><!--win-footer-m -->
				</div><!--win-footer-r -->
			</div><!-- win-footer-l-->
			
		</div> <!--win-footer -->
</div><!--pop-up-win-->
</body>
</html>
