{% extends "card/popups/base.html" %}
{% block title %} 领卡失败 {% endblock %}
{% block content %} 
<div class="win-notes">
	<div class="notes-txt">
		<span class="win-icon win-icon-b" style="margin-top:0"></span>
		<p>
		    对不起，该物品已经被哄抢一空。建议您选择
		    “<span class="ff0000">淘号</span>”试试运气！
        </p>
	</div>
</div>
{% endblock %}
{% block submit %} 
<a href="javascript:get_popup('/card/get_chance/{{item_id}}/')" ><span>淘号</span></a>
<a href="#" class="fixie6png WinClose"><span >关闭</span></a>
{% endblock %}