<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<link href="http://119.145.138.41:8000/static/css/pop-up-box.css" rel="stylesheet" type="text/css" />
<script src="http://gh.178.com/js/j.js"></script>
<script type="text/javascript" src="http://119.145.138.41:8000/static/js/jShowWin.js"></script>
<link rel="stylesheet" href="http://119.145.138.41:8000/static/css/common.css" type="text/css"/>
<link rel="stylesheet" href="http://www.178.com/s/i/pronav.css" type="text/css" />
<link rel="stylesheet" href="http://www.178.com/s/i/base.css" type="text/css" />
<script type="text/javascript" src="http://www.178.com/s/js/j.js"></script>
<script type="text/javascript" src="http://119.145.138.41:8000/static/js/j.flashSlider.js"></script>
<!--[if lte IE 6]>
<style>.fixie6png{behavior:url("http://119.145.138.41:8000/static/js/iepngfix.htc");}</style>
<script type="text/javascript" src="http://119.145.138.41:8000/static/js/iepngfix-tilebg.js"></script>
<![endif]-->
<div class="fixie6png pop-wrap"><!--透明背景层 -->
<div class="pop-up-win">   
        <div class="win-title">
			<div class="win-title-l">
				<div class="win-title-r">
					<div class="win-title-m">
						<a href="javascript:"  class="fixie6png WinClose">关闭</a>
						<h1>失败</h1>
					</div><!-- win-title-m-->
				</div><!-- win-title-r-->
			</div><!--win-title-l -->
			
		</div>  <!-- win-title--> 
        <div class="win-content">
			<div class="win-border">
				<div class="win-bg">
					
					<div class="win-notes">
						<div class="notes-txt">
							<span class="win-icon win-icon-b" style="margin-top:0"></span>
							<p>
对不起，该物品已经被哄抢一空。建议您选择“<Span class="ff0000">淘号</Span>”试试运气！<br />
</p>
						</div>
						
						
					
					</div>

				</div><!--win-bg -->
			</div><!--win-border -->
		</div><!--win-content -->
		 <div class="win-footer">
			<div class="win-footer-l">
				<div class="win-footer-r">
					<div class="win-footer-m">
							<a href="#" ><span>淘号</span></a>
							<a href="#" class="fixie6png WinClose"><span >关闭</span></a>
					</div><!--win-footer-m -->
				</div><!--win-footer-r -->
			</div><!-- win-footer-l-->
			
		</div> <!--win-footer -->
</div><!--pop-up-win-->
</div>
