{% extends "card/popups/base.html" %}
{% block title %} 领卡失败 {% endblock %}
{% block content %} 
	<div class="win-notes">
		<div class="notes-txt">
			<span class="win-icon win-icon-b"></span>
			<p>抱歉，看来您今天人品值较低，没能抽中<strong class="ff0000">名将三国新手卡</strong>！<br />
                建议您选择“<span class="ff0000">淘号</span>”试试运气！    
            </p>
		</div>
	</div>
{% endblock %}
{% block submit %} 
<a href="#" ><span>淘号</span></a>
<a href="#" class="WinClose" ><span>关闭</span></a>
{% endblock %}
