{% extends "card/popups/base.html" %}
{% block title %} 领取须知 {% endblock %}
{% block content %} 
<meta http-equiv="pragma" content="no-cache" />
<div class="win-notes">
    <div class="notes-txt">
        <span class="win-icon win-icon-a"></span>
	    <p>本区发放的新手卡或激活码，单款游戏、单个ID每24小时只可领取一次。<br />

	        某些数量较少的激活码或新手卡，如您没有领取成功，建议选择“<span class="ff0000">淘号</span>”。<br />

	        如您领取成功，我们将把卡的详细信息保存至您的“<span class="ff0000">存卡箱</span>”。
	    </p>
	</div>
	<div class="notes-code">
		<strong>验证码：</strong> <input name='checkcode' type='text' id='checkcode_input'/>
		<script>
                function get_checkcode(){
                     $('#checkcode')[0].setAttribute('src','/card/get_check_code_image/?nocache='+Math.random());
                }
                </script>
                <img id='checkcode' src='/card/get_check_code_image/' alt='CheckCode'/>
	    <a id="change" href="javascript:get_checkcode();"  class="blue">看不清，换一张</a>
							<span class="code-tip ff0000">{{error}}</span>
		<p class="ff0000">友情提示：请您在成功领取物品后2小时内使用，否则该物品将进入淘号库，可能会被别人淘走使用。<p>
	</div>
</div>			
{% endblock %}
{% block submit %} 
<a href="javascript:post_popup('/card/get_card/{{item_id}}/',$('#checkcode_input').val());"><span>提交</span></a> 
<a href="javascript:" class="WinClose"><span >关闭</span></a>
{% endblock %}
