<link href="http://119.145.138.41:8000/static/css/pop-up-box.css" rel="stylesheet" type="text/css" />
<script src="http://gh.178.com/js/j.js"></script>
<script type="text/javascript" src="http://119.145.138.41:8000/static/js/jShowWin.js"></script>
<form action='' mothed='POST'>
<div class="fixie6png pop-wrap"><!--透明背景层 -->
<div class="pop-up-win">   
        <div class="win-title">
			<div class="win-title-l">
				<div class="win-title-r">
					<div class="win-title-m">
						<a href="javascript:"  class="fixie6png WinClose">关闭</a>
						<h1>领取须知</h1>
					</div><!-- win-title-m-->
				</div><!-- win-title-r-->
			</div><!--win-title-l -->
			
		</div>  <!-- win-title--> 
        <div class="win-content">
			<div class="win-border">
				<div class="win-bg">
					
					<div class="win-notes">
						<div class="notes-txt">
							<span class="win-icon win-icon-a"></span>
							<p>本区发放的新手卡或激活码，单款游戏、单个ID每24小时只可领取一次。<br />

	某些数量较少的激活码或新手卡，如您没有领取成功，建议选择“<span class="ff0000">淘号</span>”。<br />

	如您领取成功，我们将把卡的详细信息保存至您的“<span class="ff0000">存卡箱</span>”。</p>
						</div>
						<div class="notes-code">
							<strong>验证码：</strong> {{form.captcha}} <a href="#" class="blue">看不清，换一张</a>
							<span class="code-tip ff0000">{{form.captcha.errors}}</span>
							<p class="ff0000">友情提示：请您在成功领取物品后2小时内使用，否则该物品将进入淘号库，可能会被别人淘走使用。<p>
						</div>
							
					</div>

				</div><!--win-bg -->
			</div><!--win-border -->
		</div><!--win-content -->
		 <div class="win-footer">
			<div class="win-footer-l">
				<div class="win-footer-r">
					<div class="win-footer-m">
							<input type='submit' value='提交'/>
							<a href="#" class=" WinClose"><span >关闭</span></a>
					</div><!--win-footer-m -->
				</div><!--win-footer-r -->
			</div><!-- win-footer-l-->
			
		</div> <!--win-footer -->
</div><!--pop-up-win-->
</div><!--pop-wrap -->
</form>