{% extends "card/popups/base.html" %}
{% block title %} 物品详情 {% endblock %}
{% block content %} 
	<div class="win-details">
		<div class="details-pic"><img src='http://media.ka.178.com/static/{{item.pic}}' alt='item image'/></div>
		<ul>
			<li>物品名称：<strong class="ff0000">{{item.name}}</strong ></li>
			<li>卡号：<span class="ff0000">{{card_id}}</span></li>
			<li><p>请您在领取该物品后2小时内使用，否则该物品将进入淘号库，可能会被别人淘走使用。</p></li>
			<li>{{item.info|safe}}</li>
		</ul>
	</div>
{% endblock %}
{% block submit %} 
<a href="#" class="WinClose"><span >关闭</span></a>
{% endblock %}