{% extends "card/popups/base.html" %}
{% block title %} 请登陆 {% endblock %}
{% block content %} 
<form action="http://account.178.com/q_account.php" name="login" method="post" id="loginform">
	<div class="win-login">
            <p>
            <span>
            <select name="type">
             <option value="username">用户名</option>
             <option value="uid">UID</option>
             <option value="email">Email</option>
            </select>
            </span>
           <input type="text" class="input" onclick="this.value = ''" value="" tabindex="1" maxlength="40" size="20" name="email" id="username">
           </p>
            <input type="hidden" value="login" name="_act">
            <p>
            <span>密码</span><input type="password" class="input" onkeypress="if((event.keyCode ? event.keyCode : event.charCode) == 13) $('#loginform').submit()" tabindex="2" size="20" name="password" id="password">
            </p>
        <p class="login-tip"><input type="checkbox" value="31536000" name="noexpires" id="noexpires"><label class="noexpires" for="noexpires">记住我</label></p>
        <p class="login-tip txt">为了帐号安全，请不要在网吧等公用电脑上保留登录状态。</p>          
    </div>
{% endblock %}
{% block submit %} 
<a href="#" onclick="$('#loginform').submit();"><span >登陆</span></a>
<a href="http://account.178.com/?p=register" ><span >还没帐号，立即注册</span></a>
</form>
{% endblock %}
