<link href="http://119.145.138.41:8000/static/css/pop-up-box.css" rel="stylesheet" type="text/css" />
<script src="http://gh.178.com/js/j.js"></script>
<script type="text/javascript" src="http://119.145.138.41:8000/static/js/jShowWin.js"></script>
<!--[if lte IE 6]>
<style>.fixie6png{behavior:url("http://119.145.138.41:8000/static/js/iepngfix.htc");}</style>
<script type="text/javascript" src="http://119.145.138.41:8000/static/js/iepngfix-tilebg.js"></script>
<![endif]-->
<div class="fixie6png pop-wrap"><!--透明背景层 -->
    <div class="pop-up-win">   
            <div class="win-title">
                <div class="win-title-l">
                    <div class="win-title-r">
                        <div class="win-title-m">
                            <a href="javascript:"  class="fixie6png WinClose">关闭</a>
                            <h1>请登陆</h1>
                        </div><!-- win-title-m-->
                    </div><!-- win-title-r-->
                </div><!--win-title-l -->
                
            </div>  <!-- win-title--> 
            <div class="win-content">
                <div class="win-border">
                    <div class="win-bg">
                        
                        <div class="win-login">
                            <p><span>用户名：</span><input name="" type="text" class="input" /></p>
                            <p><span ><b>密</b>码：</span><input name="" type="text" class="input" /> <a href="#">忘记密码？</a></p>
                            <p class="login-tip"><input name="" type="checkbox" value="" />记住密码</p>
                            <p class="login-tip txt">为了帐号安全，请不要在网吧等公用电脑上保留登录状态。</p>
                            
                            
                        </div>
    
                    </div><!--win-bg -->
                </div><!--win-border -->
            </div><!--win-content -->
             <div class="win-footer">
                <div class="win-footer-l">
                    <div class="win-footer-r">
                        <div class="win-footer-m">
                                <a href="#" ><span >登陆</span></a>
                                <a href="#" ><span >还没帐号，立即注册</span></a>
                        </div><!--win-footer-m -->
                    </div><!--win-footer-r -->
                </div><!-- win-footer-l-->
                
            </div> <!--win-footer -->
    </div><!--pop-up-win-->
</div><!--pop-wrap -->