{% extends "card/popups/base.html" %}
{% block title %} 请登陆 {% endblock %}
{% block content %} 
	<div class="win-login">
        <p><span>用户名：</span><input name="" type="text" class="input" /></p>
        <p><span ><b>密</b>码：</span><input name="" type="text" class="input" /> <a href="#">忘记密码？</a></p>
        <p class="login-tip"><input name="" type="checkbox" value="" />记住密码</p>
        <p class="login-tip txt">为了帐号安全，请不要在网吧等公用电脑上保留登录状态。</p>          
    </div>
{% endblock %}
{% block submit %} 
<a href="#" ><span >登陆</span></a>
<a href="#" ><span >还没帐号，立即注册</span></a>
{% endblock %}
